---
const { post } = Astro.props
const { Content } = await post.render()

import { components } from '@components/Multi/myHeading.js'
---

<div class="pjax" id="main">
  <dir class="article wrap">
    <div class="breadcrumb" itemtype="https://schema.org/BreadcrumbList">
      <article class="post block" itemscope="" itemtype="http://schema.org/Article" lang="zh-CN">
        <div class="body md" itemprop="articleBody">
          <Content components={components} />
        </div>
      </article>
    </div>
  </dir>
</div>
