---
import Footer from './Footer.astro'
import PostNav from './PostNav.astro'
import { components } from '@components/Multi/myHeading.js'
import { postProp } from '@stores/posts'
const { Content, remarkPluginFrontmatter } = await postProp.get().render()
const { category } = remarkPluginFrontmatter
---

<div class="pjax" id="main">
  <dir class="article wrap">
    <div class="breadcrumb" itemtype="https://schema.org/BreadcrumbList">
      <i class="ic i-home"></i>
      <span><a href="/">首页</a></span>
      <i class="ic i-angle-right"></i>
      {
        category.map((item, index) => {
          return (
            <>
              <span class={index + 1 === category.length ? 'current' : ''} itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                <>
                  <a href={`/categories/${item}/`} itemprop="item" rel="index" title={`分类于 ${item}`}>
                    <span itemprop="name">{item}</span>
                  </a>
                  <meta itemprop="position" content={index + 1} />
                </>
              </span>
              {index + 1 !== category.length && <i class="ic i-angle-right" />}
            </>
          )
        })
      }
    </div>
    <article class="post block" itemscope="" itemtype="http://schema.org/Article" lang="zh-CN">
      <div class="body md" itemprop="articleBody">
        <Content components={components} />
        <Footer />
      </div>
    </article>
  </dir>
  <PostNav />
</div>
