#loading {
  background-color: var(--grey-1);
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

.loa {
  --loa-width: 45px;
  position: relative;
  width: var(--loa-width);
  height: var(--loa-width);
  transform: rotate(75deg);
}

.loa .bar {
  position: absolute;
  animation: 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

.loa .bar:first-child {
  bottom: calc(var(--loa-width) / 3);
  width: calc(var(--loa-width) / 3);
  height: 100%;
  background: #0984e3;
  transform: scaleY(0);
  transform-origin: bottom;
  animation-name: slide-bottom-top;
}

.loa .bar:nth-child(2) {
  left: calc(var(--loa-width) / 3);
  width: 100%;
  height: calc(var(--loa-width) / 3);
  background: #d63031;
  transform: scaleX(0);
  transform-origin: left;
  animation-name: slide-left-right;
}

.loa .bar:nth-child(3) {
  top: calc(var(--loa-width) / 3);
  right: 0;
  width: calc(var(--loa-width) / 3);
  height: 100%;
  background: #fdcb6e;
  transform: scaleY(0);
  transform-origin: top;
  animation-name: slide-top-bottom;
}

.loa .bar:nth-child(4) {
  right: calc(var(--loa-width) / 3);
  bottom: 0;
  width: 100%;
  height: calc(var(--loa-width) / 3);
  background: #00b894;
  transform: scaleX(0);
  transform-origin: right;
  animation-name: slide-right-left;
}
@keyframes slide-bottom-top {
  50% {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  50.1% {
    transform-origin: top;
  }

  to {
    transform-origin: top;
  }
}

@keyframes slide-left-right {
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform-origin: right;
  }

  to {
    transform-origin: right;
  }
}

@keyframes slide-top-bottom {
  50% {
    transform: scaleY(1);
    transform-origin: top;
  }

  50.1% {
    transform-origin: bottom;
  }

  to {
    transform-origin: bottom;
  }
}

@keyframes slide-right-left {
  50% {
    transform: scaleX(1);
    transform-origin: right;
  }

  50.1% {
    transform-origin: left;
  }

  to {
    transform-origin: left;
  }
}
