// 变量区
@use 'sass:map';

$logo: (
  external: true,
  family: 'Fredericka the Great',
  size: 3.5
);
$global: (
  external: true,
  family: 'Mulish',
  size: null
);
$title: (
  external: true,
  family: 'Noto Serif JP',
  size: 2.5
);
$headings: (
  external: true,
  family: 'Noto Serif SC',
  size: null
);
$posts: (
  external: true,
  family: null
);
$codes: (
  external: true,
  family: 'Inconsolata'
);
$map: (
  logo: $logo,
  global: $global,
  title: $title,
  headings: $headings,
  posts: $posts,
  codes: $codes
);
$iconfont: '1832207_igi8uaupcus';
$fontEnable: true;
$sidebarPosition: 'left';
@function getFamily($key) {
  @return map-get(map-get($map, $key), 'family');
}

@function getSize($key) {
  @return map-get(map-get($map, $key), 'size');
}

@function getExternal($key) {
  @return map-get(map-get($map, $key), 'external');
}

// Font families.
$font-family-chinese: -apple-system, 'PingFang SC', 'Microsoft YaHei';

$font-family-base: $font-family-chinese, sans-serif;
@if getFamily('global') {
  $font-family-base: getFamily('global'), $font-family-base;
}

$font-family-logo: $font-family-base;
@if getFamily('logo') {
  $font-family-logo: getFamily('logo'), $font-family-base;
}

$font-family-title: $font-family-base;
@if getFamily('title') {
  $font-family-title: getFamily('title'), $font-family-base;
}

$font-family-headings: $font-family-title;
@if getFamily('headings') {
  $font-family-headings: getFamily('headings'), $font-family-title;
}
@if getFamily('global') {
  $font-family-headings: getFamily('global'), $font-family-headings;
}
@if getFamily('title') and getFamily('headings') {
  $font-family-title: getFamily('title'), getFamily('headings'), $font-family-base;
}
@if getFamily('global') {
  $font-family-title: getFamily('global'), $font-family-title;
}

$font-family-posts: $font-family-base;
@if getFamily('posts') {
  $font-family-posts: getFamily('posts'), $font-family-base;
}

$font-family-monospace: consolas, Menlo, $font-family-chinese;
@if getFamily('codes') {
  $font-family-monospace: getFamily('codes'), consolas, Menlo, $font-family-chinese;
}

// Font size
$font-size-base: if(type-of(getSize('global')) == 'unit', unit(getSize(global), em), 1em);
$font-size-smallest: 0.75em;
$font-size-smaller: 0.8125em;
$font-size-small: 0.875em;
$font-size-medium: 1em;
$font-size-large: 1.125em;
$font-size-larger: 1.25em;
$font-size-largest: 1.5em;

// Headings font size
$font-size-headings-step: 0.125em;
$font-size-headings-base: if(type-of(getSize('headings')) == 'unit', unit(getSize('headings'), em), 1.625em);

// Global line height
$line-height-base: 2;
$line-height-code-block: max(1.6, 1.3);

// Z-index master list
// --------------------------------------------------
$zindex-0: -1;
$zindex-1: 1;
$zindex-2: 9;
$zindex-3: 99;
$zindex-4: 999;
$zindex-5: 9999;

// Pagination
// --------------------------------------------------

// Layout sizes
// --------------------------------------------------
$sidebar-width: 15;
$sidebar-desktop: $sidebar-width * 1rem;
$content-offset: 0.75rem;
$content-wrap: calc(100% - #{$sidebar-width + $content-offset});

$content-desktop-padding: 1.25rem;
$content-tablet-padding: 0.625rem;
$content-mobile-padding: 0.5rem;

$content-desktop: calc(100% - ($content-desktop-padding / 2));
$content-desktop-large: 72.5rem;
$content-desktop-largest: 73%;

// Site Meta
$font-size-title: if($fontEnable and type-of(getSize('title')) == number, getSize('title') * 1em, 2em);
$font-size-subtitle: $font-size-small;
$font-size-logo: if($fontEnable and type-of(getSize('logo')) == number, getSize('logo') * 1em, 3.5em);
// // Site Meta
// $font-size-title                = (hexo-config('font.enable') and hexo-config('font.title.size') is a 'unit') ? unit(hexo-config('font.title.size'), em) : 2em;
// $font-size-subtitle             = $font-size-small;
// $font-size-logo                = (hexo-config('font.enable') and hexo-config('font.logo.size') is a 'unit') ? unit(hexo-config('font.logo.size'), em) : 3.5em;

// // Font families.
// $font-family-chinese      = -apple-system, "PingFang SC", "Microsoft YaHei";

// $font-family-base         = $font-family-chinese, sans-serif;
// $font-family-base       = get_font_family('global'), $font-family-base if get_font_family('global');

// $font-family-logo         = $font-family-base;
// $font-family-logo         = get_font_family('logo'), $font-family-base if get_font_family('title');

// $font-family-title         = $font-family-base;
// $font-family-title         = get_font_family('title'), $font-family-base if get_font_family('title');

// $font-family-headings     = $font-family-base;
// $font-family-headings     = get_font_family('headings'), $font-family-title if get_font_family('headings');
// $font-family-headings     = get_font_family('global'), $font-family-headings if get_font_family('global');
// $font-family-title         = get_font_family('title'), get_font_family('headings'), $font-family-base if get_font_family('headings');
// $font-family-title         = get_font_family('global'), $font-family-title if get_font_family('global');

// $font-family-posts        = $font-family-base;
// $font-family-posts        = get_font_family('posts'), $font-family-base if get_font_family('posts');

// $font-family-monospace    = consolas, Menlo, $font-family-chinese;
// $font-family-monospace    = get_font_family('codes'), consolas, Menlo, $font-family-chinese if get_font_family('codes');

// $iconfont = hexo-config('iconfont');

// // Font size
// $font-size-base           = (hexo-config('font.enable') and hexo-config('font.global.size') is a 'unit') ? unit(hexo-config('font.global.size'), em) : 1em;
// $font-size-smallest       = .75em;
// $font-size-smaller        = .8125em;
// $font-size-small          = .875em;
// $font-size-medium         = 1em;
// $font-size-large          = 1.125em;
// $font-size-larger         = 1.25em;
// $font-size-largest        = 1.5em;

// // Headings font size
// $font-size-headings-step  = .125em;
// $font-size-headings-base  = (hexo-config('font.enable') and hexo-config('font.headings.size') is a 'unit') ? unit(hexo-config('font.headings.size'), em) : 1.625em;

// // Global line height
// $line-height-base         = 2;
// $line-height-code-block   = 1.6; // Can't be less than 1.3;

// // Z-index master list
// // --------------------------------------------------
// $zindex-0       = -1;
// $zindex-1       = 1;
// $zindex-2       = 9;
// $zindex-3       = 99;
// $zindex-4       = 999;
// $zindex-5       = 9999;

// // Pagination
// // --------------------------------------------------

// // Layout sizes
// // --------------------------------------------------
// $sidebar-width                = 15;
// $sidebar-desktop              = unit($sidebar-width, 'rem');
// $content-offset               = .75rem;
// $content-wrap                 = 'calc(100% - %s)' % unit($sidebar-width + $content-offset, 'rem');

// $content-desktop-padding        = 1.25rem;
// $content-tablet-padding         = .625rem;
// $content-mobile-padding         = .5rem;

// $content-desktop              = 'calc(100% - %s)' % unit($content-desktop-padding / 2, 'rem');
// $content-desktop-large        = 72.5rem;
// $content-desktop-largest      = 73%;

// // Site Meta
// $font-size-title                = (hexo-config('font.enable') and hexo-config('font.title.size') is a 'unit') ? unit(hexo-config('font.title.size'), em) : 2em;
// $font-size-subtitle             = $font-size-small;
// $font-size-logo                = (hexo-config('font.enable') and hexo-config('font.logo.size') is a 'unit') ? unit(hexo-config('font.logo.size'), em) : 3.5em;

// .element-state {
//   color: var(--grey-0);
//   background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%);
//   box-shadow: 0 0 0.75rem var(--color-pink-a3);
// }

// .slide-up-in {
//   animation: slideUpIn 0.3s;
//   @keyframes slideUpIn {
//     0% {
//       opacity: 0;
//       transform: translateY(10px);
//     }

//     to {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }
// }
