---
import Divider from './Divider.astro'
import PostCard from './PostCard.astro'
import Pagination from './Pagination.astro'
const { posts, totalCount, currentPage, currentUrl, previousUrl, nextUrl } = Astro.props
---

<div class="pjax" id="main">
  <div class="index wrap">
    {posts.length && currentPage === 1 ? <Divider>文章列表</Divider> : null}
    <div class="segments posts">
      {posts.length && posts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
  <Pagination totalCount={totalCount} currentPage={currentPage} />
</div>

<style lang="scss">
  #main {
    background: linear-gradient(to top, var(--grey-0) 0, var(--grey-1) 20%) no-repeat top;
    box-shadow: 0 1.25rem 1rem 0.3125rem var(--body-bg-shadow);

    width: $content-wrap;

    min-height: 37.5rem;

    .wrap {
      position: relative;
      padding: $content-desktop-padding;
      .segments {
        @include the-flex();
      }
    }

    .wrap:nth-child(1) {
      margin-bottom: 1.25rem;
    }

    @include tablet-mobile {
      width: 100%;

      .wrap {
        padding: $content-tablet-padding;
      }
    }

    @include mobile() {
      .wrap {
        padding: $content-mobile-padding;
      }
    }
  }
</style>
