---
import Divider from './Divider.astro'
import PostCard from './PostCard.astro'
import Pagination from './Pagination.astro'
import { pageProp } from '@stores/posts'
const { total, currentPage, data: posts } = pageProp.get().page
---

<div class="pjax" id="main">
  <div class="index wrap">
    {total && currentPage === 1 ? <Divider>文章列表</Divider> : null}
    <div class="segments posts">
      {total && posts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
  <Pagination />
</div>
