---
import cover from '@utils/cover.js'
---

<div id="imgs" class="pjax">
  <ul>
    {cover(6).map((item) => <li class="item" data-background-image={item} />)}
  </ul>
</div>

<style lang="scss">
  #imgs {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    min-height: 25rem;
    z-index: -9;
    background-color: #363636;
    content-visibility: auto;
    contain-intrinsic-size: 100vw 70vh;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    .item {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: 36s linear infinite imageAnimation;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      @for $i from 1 through 6 {
        &:nth-child(#{$i + 1}) {
          animation-delay: $i * 6s;
        }
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: $zindex-1;
      @include the-transition();
    }
  }

  @keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    2% {
      opacity: 1;
    }
    8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
    }
    17% {
      opacity: 1;
      transform: scale(1.1);
    }
    25% {
      opacity: 0;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
    }
  }
</style>

<style is:global lang="scss">
  .pace {
    pointer-events: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: var(--primary-color);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 0.125rem;
  }

  #tool {
    position: fixed;
    right: 1rem;
    @if $sidebarPosition == 'left' {
      right: 1rem;
    } @else {
      left: 1rem;
    }

    top: 50vh;
    z-index: $zindex-2;

    @include tablet-mobile {
      right: 1rem;
      left: auto;
    }

    .item {
      display: none;
      width: 1.875rem;
      height: 1.875rem;
      opacity: 0.5;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include the-transition();
      &:hover {
        opacity: 0.9;
      }
    }

    .player {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: $font-size-largest;
      width: auto;
      height: auto;

      > .btn {
        @include font-family-icons();
        width: 1.875rem;
        text-align: center;
        & + .btn {
          margin-right: 0.625rem;
        }
      }

      .play-pause {
        &::before {
          @include icon-before('\f07f');
        }
      }

      .music {
        display: none;
        &::before {
          @include icon-before('\f059');
        }
      }
    }

    &.playing .player {
      .play-pause::before {
        @include icon-before('\f06a');
      }
    }

    .player-info {
      @include shadow-box();
      background: var(--grey-1-a7);
      backdrop-filter: blur(0.625rem);
      position: fixed;
      display: none;
      bottom: 0;
      overflow: hidden;

      @if $sidebarPosition == 'left' {
        right: 3.5rem;
      } @else {
        left: 3.5rem;
      }

      width: 50vw;
      z-index: $zindex-2;
      max-width: 25rem;

      @include mobile() {
        right: 2.5rem;
      }

      .nav {
        font-size: $font-size-smallest;
        height: 2.1875rem;
      }
    }

    .back-to-top {
      span {
        font-size: $font-size-smallest;
      }
    }

    &.affix {
      text-shadow: none;
      top: auto;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
      background: var(--grey-1-a3);
      border-radius: 0.3125rem;
      @if $sidebarPosition == 'left' {
        right: 0;
      } @else {
        left: 0;
      }
      bottom: 0;

      .item {
        display: flex;
        color: var(--primary-color);
      }

      .player {
        font-size: $font-size-base;
        flex-direction: column-reverse;

        > .btn + .btn {
          margin-right: 0;
        }

        .music {
          display: block;
        }
      }

      .player-info {
        @if $sidebarPosition == 'left' {
          right: 2.5rem;
        } @else {
          left: 2.5rem;
        }

        @include desktop-large() {
          @if $sidebarPosition == 'left' {
            right: 3.5rem;
          } @else {
            left: 3.5rem;
          }
        }

        @include tablet-mobile {
          right: 2.5rem;
          left: auto;
        }

        &.show {
          display: block;
          @if $sidebarPosition == 'left' {
            @extend .slide-right-in;
          } @else {
            @extend .slide-left-in;

            @include tablet-mobile {
              animation: slideRightIn 0.3s;
            }
          }

          &.hide {
            @extend .fade-out;
          }
        }
      }

      .back-to-top {
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0.3125rem 0 0;
      }

      .contents {
        display: none;

        @include tablet-mobile {
          display: flex;
        }
      }

      @include desktop-large() {
        @if $sidebarPosition == 'left' {
          right: 1rem;
        } @else {
          left: 1rem;
        }
        bottom: 1rem;
      }

      @include tablet-mobile {
        right: 0;
        bottom: 0;
        left: auto;
      }
    }
  }
  #neko {
    @extend %fix-fullscreen;
    display: none;
    background: linear-gradient(to top, #fddb92 0%, #d1fdff 80%);

    .planet {
      position: fixed;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      animation: rotate 2s cubic-bezier(0.7, 0, 0, 1);
      transform-origin: center bottom;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
      transition: 2s ease all;
    }

    .sun,
    .moon {
      position: absolute;
      border-radius: 100%;
      left: 55%;
      top: 32%;
    }

    .sun {
      height: 40px;
      width: 40px;
      background: #ffee94;
      box-shadow: 0 0 40px #ffee94;
      opacity: 1;
    }

    .moon {
      height: 24px;
      width: 24px;
      background: #eee;
      box-shadow: 0 0 20px #fff;
      opacity: 0;
    }

    .body {
      display: block;
      position: absolute;
      bottom: -20px;
      height: 140px;
      width: 135px;
      left: 50%;
      margin-left: -100px;
      background: #777;
      transition: all 0.25s ease-in-out;
      animation: slideUpBigIn 1s;

      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 20px solid #777;
        top: -20px;
        transition: all 0.25s ease-in-out;
      }
      &:before {
        border-left: 0 solid transparent;
        border-right: 30px solid transparent;
        left: 0;
      }
      &:after {
        border-right: 0 solid transparent;
        border-left: 30px solid transparent;
        right: 0;
      }

      .eyes {
        display: block;
        position: absolute;
        background: #ffee94;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        bottom: 80px;
      }

      .eyes.left {
        left: 12px;
      }

      .eyes.right {
        right: 12px;
      }

      .eyes .pupil,
      .nose {
        display: block;
        position: relative;
        background: #ffb399;
        border-radius: 100%;
        margin: 0 auto;
      }

      .eyes .pupil {
        height: 100%;
        width: 5px;
        transition: width 1s 0.5s ease-in-out;
      }

      .nose {
        top: 45px;
        height: 10px;
        width: 10px;
      }
    }

    &.dark {
      &:before {
        opacity: 1;
      }

      .sun {
        opacity: 0;
      }

      .moon {
        opacity: 1;
      }

      .body {
        background: #444;
        &:before {
          border-bottom: 20px solid #444;
        }
        &:after {
          border-bottom: 20px solid #444;
        }

        .eyes .pupil {
          height: 90%;
          width: 34px;
          margin: 5% auto;
        }
      }
    }
  }
  %item {
    position: relative;
    color: inherit;
    width: calc(50% - 2rem);
    min-width: calc(50% - 2rem);
    height: 14rem;
    margin: 1rem;
    opacity: 0;

    &.show {
      @extend .slide-up-big-in;
      // content-visibility: auto;
      // contain-intrinsic-size: 250px;
      opacity: 1;
    }

    @include mobile() {
      width: calc(100% - 1rem) !important;
      min-width: calc(100% - 1rem) !important;
      margin: 1rem 0.5rem !important;
    }
  }

  .index.wrap {
    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      transform-style: preserve-3d;
      transform: translateZ(2rem);
      backface-visibility: hidden;
      padding: 0.3rem 1rem;
      border-radius: 1rem 0;
      color: var(--grey-0);
      background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%);

      &::before {
        position: absolute;
        display: block;
        content: '';
        height: calc(100% - 1rem);
        width: calc(100% - 1rem);
        transform-style: preserve-3d;
        transform: translateZ(-2rem);
        backface-visibility: hidden;
        border-radius: 5rem;
        left: 0.5rem;
        top: 0.8rem;
        box-shadow: 0 0 0.6rem 0.6rem var(--color-pink-a3);
        background-color: var(--color-pink-a3);
      }

      &:hover {
        transform: translateZ(2.5rem);
      }

      &:hover::before {
        transform: translateZ(-2.5rem);
      }
    }

    /*.active .btn {
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    backface-visibility: hidden;

    &::before {
      transform-style: preserve-3d;
      transform: translateZ(-2rem);
      backface-visibility: hidden;
    }
  }*/

    .meta {
      font-size: $font-size-smaller;
      color: var(--grey-5);

      .ic {
        margin-right: 0.0625rem;
      }

      .item + .item {
        margin-left: 0.625rem;
      }

      &.footer {
        position: absolute;
        bottom: 0.5rem;
        max-width: calc(100% - 7rem);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: flex-start;

        span {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .cards {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &.hide .item {
      display: none;
    }

    .item {
      @extend %item;
      perspective: 62.5rem;
      &.show {
        display: block !important;
      }

      .cover,
      .info {
        position: absolute;
        @include the-flex();
        border-radius: 0.375rem;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: ease-in-out 600ms;
      }

      .cover {
        background-position: center;
        background-size: cover;
        padding: 0.5rem 1rem;
        font-size: $font-size-medium;
        color: var(--header-text-color);
        overflow: hidden;
        transform: rotateY(0deg);
        background-image: unquote(hexo-config('index.cover'));

        .title {
          margin: 0;
          white-space: normal;
          text-align: center;
        }

        &::before {
          position: absolute;
          display: block;
          content: '';
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(135deg, #434343 0%, black 100%);
          opacity: 0.25;
          z-index: $zindex-0;
        }

        span {
          font-size: $font-size-smallest;
          position: absolute;
          right: 0.9375rem;
          top: 0.625rem;
          padding: 0 0.3125rem;
          border-radius: 0.3125rem;
          box-shadow: 0 0 0.3125rem 0.0625rem rgba(0, 0, 0, 0.6);
          background: rgba(0, 0, 0, 0.5);
        }
      }

      .info {
        background-color: var(--grey-0);
        transform: rotateY(-180deg);
        padding: 1rem 1.5rem 4rem;
        justify-content: space-between;

        @include mobile() {
          padding: 1rem 1rem 4rem;
        }

        .ribbon {
          left: -2.5rem;
          margin-bottom: 0.8rem;
          max-width: calc(100% + 2rem);
          @include mobile() {
            left: -2rem;
          }
        }
      }

      &:nth-child(even) .info {
        transform: rotateY(180deg);
      }

      &.active {
        .cover {
          transform: rotateY(180deg);
        }

        .info {
          transform: rotateY(0deg);
          box-shadow: 0 0 2rem var(--box-bg-shadow);
        }
      }

      &:nth-child(even).active {
        .cover {
          transform: rotateY(-180deg);
        }
      }

      .title {
        .ic {
          font-size: 80%;
        }
      }

      ul.posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: baseline;
        min-height: 5rem;
        overflow: hidden;

        li {
          width: 45%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--primary-color);
        }
      }
    }
  }

  .segments {
    > .item {
      @extend %item;

      display: flex;
      border-radius: 0.625rem;

      width: calc(100% - 2rem);
      min-width: calc(100% - 2rem);

      @include shadow-box(false);
      @include the-transition();

      @include mobile() {
        flex-direction: column;
        height: fit-content;
        max-height: fit-content;
      }

      &:hover {
        box-shadow: 0 0 2rem var(--box-bg-shadow);

        .cover img {
          transform: scale(1.05) rotate(1deg);
        }
      }
    }

    .cover {
      width: 50%;
      margin-right: 1.5rem;
      clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
      border-radius: 0.625rem 0 0 0.625rem;
      overflow: hidden;

      @include mobile() {
        width: 100%;
        height: 14rem;
        margin: auto;
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
        border-radius: 0.625rem 0.625rem 0 0;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @include the-transition();
      }
    }

    .info {
      position: relative;
      width: 50%;
      padding: 1rem 1.5rem 3rem 0;
      perspective: 62.5rem;

      @include mobile() {
        width: 100%;
        height: 14rem;
        padding: 0 1rem 3rem;
      }

      .meta {
        display: flex;
        justify-content: flex-end;
        margin: 0;

        @include mobile() {
          .item:not(:first-child) {
            display: none;
          }
        }
      }

      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0.625rem 0;
        color: var(--primary-color);
      }

      .excerpt {
        overflow: hidden;
        font-size: $font-size-small;
        max-height: 5rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
      }
    }

    > .item:nth-child(even) {
      flex-direction: row-reverse;

      @include mobile() {
        flex-direction: column;
      }

      .cover {
        margin-right: auto;
        margin-left: 1.5rem;
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 8% 100%);
        border-radius: 0 0.625rem 0.625rem 0;

        @include mobile() {
          width: 100%;
          margin: auto;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
          border-radius: 0.625rem 0.625rem 0 0;
        }
      }

      .info {
        padding: 1rem 0 3rem 1.5rem;

        @include mobile() {
          padding: 0 1rem 3rem;
        }

        .meta {
          justify-content: flex-start;
        }
      }

      .btn {
        left: 0;
        right: auto;
        border-radius: 0 1rem;
        background-image: linear-gradient(to right, var(--color-orange) 0, var(--color-pink) 100%);
      }

      .meta.footer {
        right: 0.5rem;
        justify-content: flex-start;
      }

      &:hover {
        .cover img {
          transform: scale(1.05) rotate(-1deg);
        }
      }
    }
  }
  #main .loa {
    margin-top: 15rem;
    --loa-width: 100px;
    transform: rotate(75deg) translate(-50%, -50%);
    left: 40%;
  }
</style>
