---
import Link from './Link.astro'
---

<nav id="nav">
  <div class="inner">
    <div class="toggle">
      <div class="lines"><span class="line"></span> <span class="line"></span> <span class="line"></span></div>
    </div>
    <ul class="menu">
      <Link to="/" text="Yume Shoka" class="title" /><Link to="/" text="首页" icon="ic i-home" /><Link to="javascript:void(0);" text="关于" icon="ic i-user" /><Link
        to="javascript:void(0);"
        text="文章"
        icon="ic i-feather"
        class="dropdown"
      >
        <Link to="/archives" text="归档" icon="ic i-list-alt" />
        <Link to="/categories" text="分类" icon="ic i-th" />
        <Link to="/tags" text="标签" icon="ic i-tags" />
      </Link>
    </ul>
    <ul class="right">
      <li class="item theme" id="changeThemeByBtn"><i class="ic i-sun text-1.125em!"></i></li>
      <li class="item search"><i class="ic i-search"></i></li>
    </ul>
  </div>
</nav>

<script>
  import { changeThemeByBtn } from '@utils/dom'
  const buttons = document.querySelector('#changeThemeByBtn')
  buttons.addEventListener('click', changeThemeByBtn)
</script>

<style lang="scss"></style>
