---
import '@styles/loading.scss'
---

<div id="loading">
  <div class="loa">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
